.projects-body {
    margin-left: 320px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding: 5px;  
}

.projects {
    color:#1DB954;
}
.projects-headings {
    margin-top: 32px;
    margin-bottom: 25px;
}
.projects-p {
    text-align: justify;
    margin-left: 11px;
    margin-top:-12px;
    font-size: 1.1rem;
}